* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: url("../../image/background.jpeg") no-repeat;
  background-size: 100% 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("../css/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../css/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../css/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../css/Lato/Lato-Regular.ttf");
}
.wrapper {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  color: white;
}
@media all and (min-width: 320px) {
  header {
    margin-top: 40px;
    flex-direction: column;
  }
}
@media all and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media all and (min-width: 320px) {
  header img {
    width: 90px;
  }
}
@media all and (min-width: 768px) {
  header img {
    margin-left: 20px;
    width: 100px;
  }
}
@media all and (min-width: 1024px) {
  header img {
    width: 170px;
  }
}
@media all and (min-width: 1440px) {
  header img {
    width: 220px;
  }
}

@media all and (min-width: 320px) {
  .logo {
    align-self: center;
    display: flex;
  }
}
@media all and (min-width: 768px) {
  .logo {
    align-self: flex-start;
  }
}
@media all and (min-width: 320px) {
  .logo h1 {
    font-size: 25px;
    margin-top: 15px;
    font-family: "Raleway";
  }
}
@media all and (min-width: 375px) {
  .logo h1 {
    font-size: 30px;
    margin-top: 10px;
  }
}
@media all and (min-width: 425px) {
  .logo h1 {
    font-size: 35px;
    margin-top: 10px;
  }
}
@media all and (min-width: 768px) {
  .logo h1 {
    font-size: 25px;
    margin-top: 20px;
  }
}
@media all and (min-width: 1024px) {
  .logo h1 {
    margin-top: 40px;
    font-size: 30px;
  }
}
@media all and (min-width: 1440px) {
  .logo h1 {
    font-size: 45px;
  }
}

a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 320px) {
  nav {
    width: 300px;
    align-self: center;
    margin-top: 10px;
  }
}
@media all and (min-width: 425px) {
  nav {
    width: 400px;
  }
}
@media all and (min-width: 768px) {
  nav {
    width: 350px;
    margin-top: 10px;
    align-self: flex-start;
  }
}
@media all and (min-width: 1024px) {
  nav {
    width: 500px;
    margin-top: 30px;
  }
}
@media all and (min-width: 1440px) {
  nav {
    width: 700px;
    margin-top: 40px;
  }
}

ul {
  display: flex;
}
@media all and (min-width: 320px) {
  ul {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 20px;
    font-size: 15px;
    margin-top: 15px;
    font-family: "Lato";
  }
}
@media all and (min-width: 375px) {
  ul {
    font-size: 15px;
  }
}
@media all and (min-width: 425px) {
  ul {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25px;
  }
}
@media all and (min-width: 768px) {
  ul {
    margin-left: 0px;
    font-size: 18px;
  }
}
@media all and (min-width: 1024px) {
  ul {
    font-size: 25px;
  }
}
@media all and (min-width: 1440px) {
  ul {
    font-size: 30px;
  }
}
ul a:hover {
  color: #8a51a5;
}

.pageact {
  color: #8a51a5;
}

main {
  display: flex;
  justify-content: center;
}

.mass {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0 60px 0;
}
@media all and (min-width: 320px) {
  .mass {
    width: 85%;
  }
}

.tarif {
  background-color: #FFFFFF80;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
@media all and (min-width: 320px) {
  .tarif {
    height: 160px;
  }
}
@media all and (min-width: 425px) {
  .tarif {
    height: 140px;
  }
}
@media all and (min-width: 768px) {
  .tarif {
    height: 220px;
  }
}
@media all and (min-width: 1440px) {
  .tarif {
    height: 270px;
  }
}
@media all and (min-width: 320px) {
  .tarif img {
    display: none;
  }
}
@media all and (min-width: 768px) {
  .tarif img {
    height: 220px;
    width: 300px;
    display: flex;
  }
}
@media all and (min-width: 1440px) {
  .tarif img {
    height: 270px;
    width: 350px;
  }
}

.texte {
  width: 100%;
  margin-left: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.texte h1 {
  margin: 20px 0 10px 0;
  font-family: "Lato";
}
@media all and (min-width: 320px) {
  .texte h1 {
    font-size: 12px;
  }
}
@media all and (min-width: 768px) {
  .texte h1 {
    font-size: 20px;
  }
}
@media all and (min-width: 1024px) {
  .texte h1 {
    font-size: 30px;
  }
}
@media all and (min-width: 1440px) {
  .texte h1 {
    font-size: 40px;
  }
}
.texte p {
  margin: 0 10px 0 10px;
  text-align: justify;
}
@media all and (min-width: 320px) {
  .texte p {
    font-size: 10px;
  }
}
@media all and (min-width: 768px) {
  .texte p {
    font-size: 15px;
  }
}
@media all and (min-width: 1024px) {
  .texte p {
    font-size: 17px;
  }
}
@media all and (min-width: 1440px) {
  .texte p {
    font-size: 22px;
  }
}

img {
  object-fit: cover;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.propos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.propos-title {
  background-color: #FFFFFF80;
  font-family: "Lato";
  text-align: center;
  align-self: center;
  padding: 25px 25px 25px 25px;
}
@media all and (min-width: 320px) {
  .propos-title {
    width: 50%;
    font-size: 20px;
  }
}

.resume {
  background-color: #FFFFFF80;
  margin-top: 80px;
  align-self: center;
  padding: 40px 40px 40px 40px;
  font-size: 20px;
}
@media all and (min-width: 320px) {
  .resume {
    width: 70%;
    font-size: 15px;
  }
}

.photo {
  margin-top: 80px;
  align-self: center;
}
@media all and (min-width: 320px) {
  .photo img {
    height: 200px;
  }
}
@media all and (min-width: 768px) {
  .photo img {
    height: 300px;
  }
}

.infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
@media all and (min-width: 1024px) {
  .infos {
    margin-bottom: 80px;
  }
}
@media all and (min-width: 1440px) {
  .infos {
    margin-bottom: 160px;
  }
}
.infos h2 {
  margin-bottom: 15px;
}
@media all and (min-width: 320px) {
  .infos h2 {
    font-size: 30px;
  }
}
@media all and (min-width: 768px) {
  .infos h2 {
    font-size: 45px;
  }
}
@media all and (min-width: 1024px) {
  .infos h2 {
    font-size: 50px;
  }
}
@media all and (min-width: 1440px) {
  .infos h2 {
    font-size: 70px;
  }
}
@media all and (min-width: 320px) {
  .infos p {
    font-size: 10px;
  }
}
@media all and (min-width: 375px) {
  .infos p {
    font-size: 12px;
  }
}
@media all and (min-width: 425px) {
  .infos p {
    font-size: 16px;
  }
}
@media all and (min-width: 768px) {
  .infos p {
    font-size: 25px;
  }
}
@media all and (min-width: 1440px) {
  .infos p {
    font-size: 30px;
  }
}

.title {
  background-color: #FFFFFF80;
  align-self: center;
  text-align: center;
  font-family: "Raleway";
  padding: 25px 25px 25px 25px;
}
@media all and (min-width: 320px) {
  .title {
    width: 250px;
    font-size: 15px;
  }
}
@media all and (min-width: 375px) {
  .title {
    width: 310px;
  }
}
@media all and (min-width: 425px) {
  .title {
    width: 360px;
  }
}
@media all and (min-width: 768px) {
  .title {
    font-size: 25px;
    width: 540px;
  }
}
@media all and (min-width: 1024px) {
  .title {
    font-size: 30px;
  }
}
@media all and (min-width: 1440px) {
  .title {
    font-size: 50px;
    width: 800px;
  }
}

.contact {
  background-color: #FFFFFF80;
  padding: 40px 40px 40px 40px;
}
@media all and (min-width: 320px) {
  .contact {
    width: 225px;
    margin-left: 8px;
    margin-top: 80px;
  }
}
@media all and (min-width: 375px) {
  .contact {
    width: 280px;
  }
}
@media all and (min-width: 425px) {
  .contact {
    width: 330px;
  }
}
@media all and (min-width: 768px) {
  .contact {
    margin-left: 90px;
    width: 510px;
  }
}
@media all and (min-width: 1024px) {
  .contact {
    margin-left: 40px;
    margin-top: 180px;
  }
}
@media all and (min-width: 1440px) {
  .contact {
    width: 650px;
  }
}
.contact a {
  color: blue;
}
@media all and (min-width: 320px) {
  .contact a {
    margin-top: 5px;
    font-size: 10px;
  }
}
@media all and (min-width: 375px) {
  .contact a {
    font-size: 13px;
  }
}
@media all and (min-width: 425px) {
  .contact a {
    font-size: 16px;
  }
}
@media all and (min-width: 768px) {
  .contact a {
    font-size: 25px;
  }
}
.contact a:hover {
  text-decoration: underline;
}

.com {
  display: flex;
  margin-top: 10px;
}
@media all and (min-width: 320px) {
  .com p {
    margin-top: 5px;
    font-size: 10px;
  }
}
@media all and (min-width: 375px) {
  .com p {
    font-size: 13px;
  }
}
@media all and (min-width: 425px) {
  .com p {
    font-size: 16px;
  }
}
@media all and (min-width: 768px) {
  .com p {
    font-size: 25px;
  }
}

@media all and (min-width: 320px) {
  .ico {
    width: 15px;
    margin-right: 15px;
  }
}
@media all and (min-width: 375px) {
  .ico {
    width: 20px;
  }
}
@media all and (min-width: 768px) {
  .ico {
    width: 30px;
  }
}

.acces {
  margin-top: 80px;
  width: 100%;
  display: flex;
}
@media all and (min-width: 320px) {
  .acces {
    flex-direction: column;
  }
}
@media all and (min-width: 1024px) {
  .acces {
    margin-left: 40px;
    flex-direction: row;
  }
}

.address {
  background-color: #FFFFFF80;
  padding: 40px 40px 40px 40px;
}
@media all and (min-width: 320px) {
  .address {
    margin-left: 8px;
    width: 225px;
    margin-bottom: 80px;
  }
}
@media all and (min-width: 375px) {
  .address {
    width: 280px;
  }
}
@media all and (min-width: 425px) {
  .address {
    width: 330px;
  }
}
@media all and (min-width: 768px) {
  .address {
    margin-left: 90px;
    width: 510px;
  }
}
@media all and (min-width: 1024px) {
  .address {
    height: 200px;
    margin-left: 0px;
  }
}
@media all and (min-width: 1440px) {
  .address {
    width: 650px;
  }
}

@media all and (min-width: 320px) {
  .map {
    margin-bottom: 80px;
    margin-left: 8px;
    width: 300px;
  }
}
@media all and (min-width: 375px) {
  .map {
    width: 360px;
  }
}
@media all and (min-width: 425px) {
  .map {
    width: 410px;
  }
}
@media all and (min-width: 768px) {
  .map {
    margin-left: 90px;
    width: 600px;
  }
}
@media all and (min-width: 1024px) {
  .map {
    margin-left: 15px;
  }
}
@media all and (min-width: 1440px) {
  .map {
    margin-left: 160px;
    width: 560px;
  }
}

@media all and (min-width: 425px) {
  .plan {
    width: 410px;
  }
}
@media all and (min-width: 768px) {
  .plan {
    width: 590px;
  }
}
@media all and (min-width: 1024px) {
  .plan {
    height: 280px;
  }
}
@media all and (min-width: 1440px) {
  .plan {
    width: 560px;
    height: 275px;
  }
}

footer {
  background-color: #FFFFFF80;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media all and (min-width: 320px) {
  footer {
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}
@media all and (min-width: 768px) {
  footer {
    font-size: 15px;
    flex-direction: row;
  }
}
@media all and (min-width: 1024px) {
  footer {
    font-size: 20px;
  }
}
@media all and (min-width: 1440px) {
  footer {
    font-size: 25px;
    padding-bottom: 40px;
  }
}
footer div {
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
