* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: url("../../image/background.jpeg") no-repeat;
  background-size: 100% 100%;
}

.wrapper {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
@media all and (min-width: 1024px) {
  header {
    margin-top: 40px;
  }
}
header img {
  width: 170px;
  margin-left: 20px;
}

.logo {
  display: flex;
}
.logo h1 {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 1024px) {
  nav {
    width: 500px;
    margin-top: 20px;
  }
}

ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media all and (min-width: 1024px) {
  ul {
    font-size: 25px;
  }
}

main {
  display: flex;
  justify-content: center;
}

.mass {
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0 60px 0;
}

.tarif {
  background-color: #FFFFFF80;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.tarif img {
  height: 200px;
  width: 300px;
}

.texte {
  width: 100%;
  margin-left: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.texte h1 {
  margin: 20px 0 10px 0;
}

img {
  object-fit: cover;
}

.propos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.propos-title {
  background-color: #FFFFFF80;
  text-align: center;
  width: 20%;
  font-size: 30px;
  align-self: center;
  padding: 25px 25px 25px 25px;
}

.resume {
  background-color: #FFFFFF80;
  width: 80%;
  margin-top: 80px;
  align-self: center;
  padding: 40px 40px 40px 40px;
  font-size: 20px;
}

.photo {
  margin-top: 80px;
  align-self: center;
}
.photo img {
  height: 300px;
}

.infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
@media all and (min-width: 1024px) {
  .infos {
    margin-bottom: 80px;
  }
}
@media all and (min-width: 1440px) {
  .infos {
    margin-bottom: 160px;
  }
}
.infos h2 {
  margin-bottom: 15px;
}
@media all and (min-width: 1024px) {
  .infos h2 {
    font-size: 50px;
  }
}
@media all and (min-width: 1440px) {
  .infos h2 {
    font-size: 70px;
  }
}
@media all and (min-width: 1440px) {
  .infos p {
    font-size: 30px;
  }
}

.title {
  background-color: #FFFFFF80;
  align-self: center;
  text-align: center;
  width: 50%;
  font-size: 30px;
  padding: 25px 25px 25px 25px;
}
@media all and (min-width: 1440px) {
  .title {
    font-size: 50px;
  }
}

.contact {
  background-color: #FFFFFF80;
  margin-top: 180px;
  margin-left: 40px;
  width: 35%;
  padding: 40px 40px 40px 40px;
}

.acces {
  margin-top: 80px;
  width: 100%;
  display: flex;
  margin-left: 40px;
}

.address {
  background-color: #FFFFFF80;
  width: 35%;
  padding: 40px 40px 40px 40px;
}
@media all and (min-width: 1024px) {
  .address {
    height: 200px;
  }
}

@media all and (min-width: 1024px) {
  .map {
    margin-left: 100px;
  }
}
@media all and (min-width: 1440px) {
  .map {
    margin-left: 160px;
  }
}

@media all and (min-width: 1440px) {
  .plan {
    width: 600px;
    height: 400px;
  }
}

footer {
  background-color: #FFFFFF80;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  font-size: 20px;
}
footer div {
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
